/**************************************************************************
=========================== Content Index =================================
1.  Fonts
2.  Resets
3.  Margins & Paddings
4.  General Style
5.  Links
6.  colors
7.  Buttons
8.  Section Headings
9.  Loader
10. Back To Top
11. Header
12. Navigation
13. Main Slider
14. About Us Section 
15. Why choose us Section 
16. Services - Style#1
17. Testimonial
18. Blog
19. Get In Touch
20. Our Partner
21. Footer
22. Internal Banner / Breadcrumb
23. Our Team
24. Our Gallery
25. Contact Us
26. Responsive

**************************************************************************/

/*** 
====================================================================
	1. Fonts
====================================================================
 ***/
font-family: 'Hind Madurai', sans-serif;/*** THEME FONT ***/
font-family: 'Poppins', sans-serif;/**** HEADING FONT ****/

/*** 
====================================================================
	2. Resets
====================================================================
***/
* {
	transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
     transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
a, a:hover, a:focus {
	-webkit-transition: all 500ms ease 0s;
	transition: all 500ms ease 0s;
	text-decoration: none;
	outline: none;
}
a { color: #2196f3; }
a:hover { color:#FF5722; }
img {
	-webkit-backface-visibility: hidden;
	max-width:100%;
	height:auto;
}
video {
	background-size: cover;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
ul {
	margin: 0px;
	padding:0px;
}
ol, ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
input, textarea, select {
	border: 1px solid #dfdfdf;
	letter-spacing: 1px;
	font-size: 11px;
	padding: 8px 15px;
	width: 100%;
	margin: 0 0 20px 0;
	text-transform: uppercase;
	max-width: 100%;
	resize: none;
}
input[type="submit"] { width: auto }
input[type="button"], input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea, input[type="submit"] {
	-webkit-appearance: none;
	border-radius: 0;
}
input:focus, textarea:focus { border: 1px solid #FF5722; }
input[type="submit"]:focus { border:none !important }
select::-ms-expand {
 display:none;
}
iframe { border: 0; }
.sound iframe { width:100% }
ul { list-style: none outside none; }
ul, ol, dl { list-style-position: outside; }

::selection {
 color: #ffffff;
 background:#2196F3;
}
::-moz-selection {
 color: #ffffff;
 background:#2196F3;
}
::-webkit-scrollbar {
 width:12px
}
::-webkit-scrollbar-track {

  background: #f5f5f5;
}
::-webkit-scrollbar-thumb {
   background: #ff7302;
}
::-webkit-scrollbar-thumb:window-inactive {
 background:#000;
}
.animated { -moz-transition-duration: 0s !important; }

::-webkit-input-placeholder {
 color: #999;
 text-overflow: ellipsis;
}
:-moz-placeholder {
 color: #999 !important;
 text-overflow: ellipsis;
 opacity:1;
}
::-moz-placeholder {
 color: #999 !important;
 text-overflow: ellipsis;
 opacity:1;
}
:-ms-input-placeholder {
 color: #999 !important;
 text-overflow: ellipsis;
 opacity:1;
}

/* only ie7, ie9, ie10, ie11 */
@media screen\0 {
input { /* ie7, ie9, ie10, ie11+ only */ padding-bottom: 19px; }
}

/*** 
====================================================================
	3. Margins & Paddings
====================================================================
***/
.margin-top-0 { margin-top: 0px !important; }
.margin-top-10 { margin-top:10px !important; }
.margin-top-20 { margin-top:20px !important; }
.margin-top-30 { margin-top:30px !important; }
.margin-top-40 { margin-top:40px !important; }
.margin-top-50 { margin-top:50px !important; }
.margin-top-60 { margin-top:60px !important; }
.margin-top-70 { margin-top:70px !important; }
.margin-top-80 { margin-top:80px !important; }
.margin-left-0 { margin-left: 0px !important; }
.margin-left-5 { margin-left:5px !important; }
.margin-left-10 { margin-left:10px !important; }
.margin-left-20 { margin-left:20px !important; }
.margin-left-30 { margin-left:30px !important; }
.margin-left-40 { margin-left:40px !important; }
.margin-left-50 { margin-left:50px !important; }
.margin-left-60 { margin-left:60px !important; }
.margin-left-70 { margin-left:70px !important; }
.margin-left-80 { margin-left:80px !important; }
.margin-bottom-0 { margin-bottom: 0px !important; }
.margin-bottom-10 { margin-bottom:10px !important; }
.margin-bottom-20 { margin-bottom:20px !important; }
.margin-bottom-30 { margin-bottom:30px !important; }
.margin-bottom-40 { margin-bottom:40px !important; }
.margin-bottom-50 { margin-bottom:50px !important; }
.margin-bottom-60 { margin-bottom:60px !important; }
.margin-bottom-70 { margin-bottom:70px !important; }
.margin-bottom-80 { margin-bottom:80px !important; }
.padding-top-0 { padding-top: 0px !important; }
.padding-top-10 { padding-top:10px !important; }
.padding-top-20 { padding-top:20px !important; }
.padding-top-30 { padding-top:30px !important; }
.padding-top-40 { padding-top:40px !important; }
.padding-top-50 { padding-top:50px !important; }
.padding-top-60 { padding-top:60px !important; }
.padding-top-70 { padding-top:70px !important; }
.padding-top-80 { padding-top:80px !important; }
.padding-left-0 { padding-left: 0px !important; }
.padding-left-10 { padding-left:10px !important; }
.padding-left-20 { padding-left:20px !important; }
.padding-left-30 { padding-left:30px !important; }
.padding-left-40 { padding-left:40px !important; }
.padding-left-50 { padding-left:50px !important; }
.padding-left-60 { padding-left:60px !important; }
.padding-left-70 { padding-left:70px !important; }
.padding-left-80 { padding-left:80px !important; }
.padding-bottom-0 { padding-bottom: 0px !important; }
.padding-bottom-10 { padding-bottom:10px !important; }
.padding-bottom-20 { padding-bottom:20px !important; }
.padding-bottom-30 { padding-bottom:30px !important; }
.padding-bottom-40 { padding-bottom:40px !important; }
.padding-bottom-50 { padding-bottom:50px !important; }
.padding-bottom-60 { padding-bottom:60px !important; }
.padding-bottom-70 { padding-bottom:70px !important; }
.padding-bottom-80 { padding-bottom:80px !important; }

/*** 
====================================================================
	4. General Style
====================================================================
***/
body {
    font-family: 'Hind Madurai', sans-serif;
	font-size:16px;
	color:#777777;
	line-height:1.8em;
	font-weight:400;
	background:#ffffff;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center top;
	-webkit-font-smoothing: antialiased;
	 overflow-x: hidden;
}

.wrapper{
    position:relative;
	margin:0 auto;
	width:100%;
	min-width:300px;
}
.section-space{
	 padding:40px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

h1{
    font-size: 36px;
    line-height: 40px;
}
h2{
    font-size: 30px;
    line-height: 36px;
}
h3{
    font-size: 24px;
    line-height: 30px;
}
h4{
    font-size: 20px;
    line-height: 24px;
}
h5{
    font-size: 18px;
    line-height: 22px;
}
h6{
    font-size: 14px;
    line-height: 18px;
}

p{
    font-family: 'Hind Madurai', sans-serif;
    line-height: 30px;
    color:#777777;
    font-weight: 500;
    font-size: 14px;
}
p.lead{
   font-weight: 500;
    color: #777777;
    font-size: 14px;
    font-style: italic;
}

/* em and strong */
em { font-size: 14px; }
strong, b { font: 15px/30px; }
small {
	font-size: 13px;
	line-height: inherit;
}


input,button,select,textarea{
	font-family: 'Hind Madurai', sans-serif;
}

.centered{
	text-align:center;	
}

.list-style{
	margin:0px 0px;
}

.list-style ul{
	margin:0px;
	padding:0px;
}
.list-style li{
	 list-style:none;
	 display:block;
	 font-size:14px;
	 position:relative;
	 margin-bottom:10px;
	 margin-left:20px;
}

.list-style li:before{
	position:absolute;
	top:0;
	left:-25px;
	content:'\f00c';
	font-family:Fontawesome;
	color:rgba(234,91,31,1);
}

/*** 
====================================================================
	5. Links
====================================================================
***/
a, a:visited {
	text-decoration: none;
	color: #002b5e;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	outline: 0;
}
a:hover, a:active, a:focus {
	color: #002b5e;
	text-decoration: none;
	outline: 0;
}
p a, p a:visited {
	line-height: inherit;
	outline: 0;
}
a img {
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
}
a:hover img {
	opacity: .75;
}

/*** 
====================================================================
	6. colors
====================================================================
***/
.bg-white{
  background: #fff;
}
.color-white {
	color:#fff;
}
.color-black {
	color:#000;
}
.bg-gray{
	background:#edf3f8;
}

.bg-light_gray{
	background:#f7f7f7 !important;
}
.bg-light-gray-2{
  background:#F2F2F2;

}

/*** 
====================================================================
	7. Buttons
====================================================================
***/
.theme-btn{
 display:inline-block;
 transition:all 0.3s ease;
 -moz-transition:all 0.3s ease;
 -webkit-transition:all 0.3s ease;
 -ms-transition:all 0.3s ease;
 -o-transition:all 0.3s ease;
}



/*Btn Style One*/

.btn-style-one{
 position:relative;
 padding:10px 32px;
 line-height:26px;
 background:#FF5722;
 color:#ffffff!important;
 font-size:16px;
 font-weight:400;
 text-transform:uppercase;
  border: 2px solid #fff;
  margin-top:30px;
  border-radius:4px;
}

.btn-style-one:hover{
 background: none;
 border-color:#fff;
 color:#e5a62c;
}

/*Btn Style Two*/

.btn-style-two{
 position:relative;
 padding:8px 30px;
 line-height:26px;
 text-transform:uppercase;
 background:none;
 color:#fff!important;
 border: 2px solid #fff;
 font-size:16px;
 font-weight:700;
  border-radius:4px;
}

.btn-style-two:hover{
 color:#ffffff;
 background-color:#FF5722;
}

/*Btn Style Three*/

.btn-style-three{
 position: relative;
    padding: 8px 30px;
    line-height: 26px;
    background: #2196f3;
    color: #ffffff!important;
    border: 2px solid #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    text-transform: uppercase;
 margin-top:10px;
}

.btn-style-three:hover{
 background: none;
 border-color:#2196f3;
 color:#2196f3!important;
}

/*Btn Style Four*/

.btn-style-four{
 position:relative;
 padding:8px 25px;
 line-height:26px;
 text-transform:uppercase;
 background:none;
 color:#fff!important;
 border:2px solid #fff;
 font-size:15px;
 font-weight:400;
 border-radius:4px;
}

.btn-style-four:hover{
 color:#ffffff;
 border-color:#fff;
 background-color:#2196f3;
}

/*** 
====================================================================
	8. Section Headings
====================================================================
***/

.section-heading span {
    color:#e4330b;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
	line-height: 45px;
	font-weight: 600;
}
.section-heading h2{
	margin-bottom:0px;
}
.section-heading p {
    letter-spacing: 2px;
}

.section-heading div.seperator{
    position: relative;
	margin-bottom:20px;
}
.section-heading div.seperator:before{
    content: '\f141';
    font: normal normal normal 36px/1 FontAwesome;
    display: block;
    position: absolute;
    left: 50%;
    top: -17px;
    background:#fff;
    transform: translateX(-50%);
    z-index: 1;
    transition: width 0.3s ease, background-color 1s ease;
	color:#e4330b;
}
.section-heading div.seperator:after{
    content: '';
    display: block;
    height: 2px;
    top: 0px;
    width: 80px;
    background:#2196F3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease, background-color 1s ease;
}
.section-heading:hover div.seperator:after {
  width: 120px;
}
.section-heading:hover div.seperator:before {
  color:#000;
}

/***** Section Heading Left *****/

.heading-left{
	position:relative;
}

.heading-left h2{
	position:relative;
	color:#444444;
	padding-bottom:10px;
	font-size:30px;
	font-weight:700;
	margin-bottom:20px;
	text-transform:uppercase;
}
.heading-left h2:after{
	position: absolute;
    content: '';
    display: block;
    left: 0px;
    bottom: 0px;
    width: 60px;
    height: 3px;
    background-color: rgba(234,91,31,1);
    -webkit-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    -o-transform: skewX(-45deg);
    -moz-transform: skewX(-45deg);
    transform: skewX(-45deg);
}
.heading-left .text{
	color:#777777;
	font-size:16px;
	line-height:1.6em;
	margin-top:35px;
}

/***** Section Heading Center *****/

.heading-center{
	position:relative;
	text-align:center;
	margin-bottom:40px;
}
.heading-center h2{
	position:relative;
	padding-bottom:15px;
	text-transform:uppercase;
}
.heading-center .text{
	position:relative;
	color:#777777;
	font-size:16px;
	margin-top:40px;
}

/***** Section Dark Background Heading *****/

.darkbg-heading{
	position:relative;
}
.darkbg-heading h2{
	position:relative;
	color:#ffffff;
	padding-bottom:15px;
	text-transform:uppercase;
	margin-bottom:20px;
		
}
.darkbg-heading h2:after{
	position: absolute;
    content: '';
    display: block;
    left: 0px;
    bottom: 0px;
    width: 42px;
    height: 3px;
    background-color: #fde428;
    -webkit-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    -o-transform: skewX(-45deg);
    -moz-transform: skewX(-45deg);
    transform: skewX(-45deg);
}
.darkbg-heading .text{
	position:relative;
	color:#c7c7c7;
	font-size:15px;
	margin-top:25px;
}

/*** 
====================================================================
	9. Loader
====================================================================
***/

.loader{
	position:fixed;
	z-index:110000;
	height:100%;
	width:100%;
	left:0;
	right:0;
	overflow:hidden;
	top:0;
	bottom:0;
	background:#ff7302;
	
}
.sk-cube-grid {
   
}
.sk-folding-cube {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

/*** 
====================================================================
	10. Back To Top
====================================================================
***/
.back-to-top {
	position: fixed;
	bottom: 0;
	right: 2%;
	height:40px;
	z-index: 1000;
	display: none;
	text-decoration: none;
	color: #002b5e;
	font-size: 20px;
	padding: 10px 15px;
	border-radius:34px 34px 0px 0px;
	line-height: 24px;
	background:#2196F3;
	transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}
.back-to-top:hover{
	color:#fff;
}

/*** 
====================================================================
	11. Header
====================================================================
***/
@media(min-width: 769px) {
	.header {
	    width: 100%;
	    z-index: 99;    
	    height: 61px;
	    background: #2196f3;
	}
}

#dt-mainHeader.sticky {
    position: fixed;
    left: 0;
    right: 0;
    padding: 20px 0;
    margin-top: -79px;
    z-index: 9998;
}
/*** Top Bar Area Style****/
.top-bar-area {
    background: #fff;
    padding: 23px 5% 13px;
}
.top-head {
    padding: 15px 0;
}
.top-left ul li {
    color: #ffffff;
    display: inline-block;
    float: left;
    font-size: 16px;
    line-height: 15px;
    margin-right: 15px;
    padding-right: 15px;
    border-right:2px solid rgb(123, 189, 241);
}
.top-left ul li a {
  color:#fff;
}
.top-left ul li a:hover {
  color:#051c2f;
}
.top-left ul li i{
    color: rgb(255, 255, 255);
    margin-right: 12px;
    background: #188ae4;
    padding: 5px 7px;
    border: #70bdfb solid 1px;
}
.top-left ul li:last-child{
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
}
.top-left ul li span:before {
    display: inline-block;
    float: left;
    color: #3452ff;
    font-size: 16px;
    padding-right: 10px;
}
.social-icons li {
	background: #fff;
	border-radius: 100%;
	display: inline-block;
	height:29px;
	line-height:29px;
	margin-right: 5px;
	text-align: center;
	width:29px;
}
.social-icons.text-right > ul {
  margin-right: 10px;
}
.social-icons li:hover {
	color:#fff;
}
.social-icons a {
	color: #2196f3;
	display: block;
	margin:0px 4px;
}
.social-icons li:hover a {
	color:#000;
}
/*****NavBar Head Style *****/
.navbar-head {
    float: left;
    padding: 0px 5px;
    width: 100%;
    background: #fff;
    z-index: 999;
    position: relative;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.118);
}
.logo{
 padding: 5px 5px;
}
.logo img{
	 width: 38%;
}
/*
================================================
 12.Navigation
================================================
*/
.main_nav>div{
	    margin-right: 10px;
	    cursor: pointer;
}
.main_nav_updated{
	margin-top: 0px !important;
}

.main_nav>div>ul{
	margin: 0;
	padding: 0;
}

.main_nav>div>ul>li{
	list-style: none;
	display: inline-block;
	position: relative;
}

.main_nav div ul li span{
	display: none;
}
.main_nav>div>ul>li>a{
	 padding: 30px 20px;
	text-align: center;
	display: block;
	transition: all 0.3s ease;
    font-size: 14px;
    text-decoration: none;
    color: #626365;
    font-weight: 600;
    text-transform: uppercase;
}

.main_nav>div>ul>li:hover>a, .main_nav>div>ul>li.active>a{
	color:#2196f3;
	text-decoration: none;
}

.main_nav div ul li:hover .dropdown{
-webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1,1);
  display: block;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}

.dropdown{
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	min-width: 200px;
	z-index: 9999;
	background:#fff;
	margin: 0;
	padding: 0px 0px;
	-webkit-box-shadow: 0px 8px 15px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 8px 15px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 15px 1px rgba(0, 0, 0, 0.1);
	border-top: #2196f3 solid 3px; 
}

.dropdown:before{
	top:-21px;
	left:20%;
	color:#2196f3;
	position:absolute; 
	content:'\f0d8';
	font-family:FontAwesome;
}

.dropdown li{
	list-style: none;
	text-align: left;
	position:relative;
}

.dropdown li a{
	line-height: normal;
	padding:15px 15px;
	display: block;
	transition: all 0.3s ease;
	color: #626365;
  font-weight: 400;
	text-decoration:none;
}

/*.dropdown li a:hover{
	background: #2196f3;
	text-decoration: none;
	color: #fff;
}*/

.main_nav button {
  display: none;
}
@media(min-width: 769px) {
	.dropdown li ul.dropdown{
	 display:none!important;
	}

	.dropdown li:hover ul.dropdown{
	 display: block!important;
	 position: absolute;
	 left: 100%!important;
	 top: 0!important;
	 min-width: 200px;
	 z-index: 9999;
	 background:#fff;
	 border:none!important;
	}
}

/*.dropdown li:hover ul.dropdown:before{
    top:5px;
	left:-6px;
	color:#fff!important;
	position:absolute; 
	content:'\f0d9'!important;
	font-family:FontAwesome;

}*/

.dropdown li ul.dropdown:before{
  top:13px;
 left:-20px;
 color:#000!important;
 position:absolute; 
 content:'\f0da'!important;
 font-family:FontAwesome;

}



/*
================================================
  13. Main Slider 
================================================
*/
@media(min-width: 769px) {
	.main-slider {
		width: 100%;
		position: relative;
		margin-top: -30px;
		background: #333;
	}
}

.main-slider .tp-caption{
	z-index:5;
}

.main-slider .tp-dottedoverlay{
	background-color:rgba(0,0,0,0.60) !important;	
}

.main-slider .blue-overlay .tp-dottedoverlay{
	background-color:rgba(0,0,0,0.70) !important;	
}


.revolution-slider.css:1
.tp-bullets.preview3 .bullet {
    cursor: pointer;
    position: relative!important;
    background: rgba(234,91,31,1)!important;
}
.tp-bullets.preview3 .bullet:hover, .tp-bullets.preview3 .bullet.selected {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: rgba(255,255,255,1)!important;
    width: 6px!important;
    height: 6px!important;
    border: 5px solid rgba(234,91,31,1)!important;
}

.main-slider .big-title{
	font-weight:500;
	line-height:1.6em;
	color:#ffffff;
	font-size:38px;
	text-transform:uppercase;
}

.main-slider .sub-title{
	font-weight:400;
	line-height:1.3em;
	color:#f06529;
	font-size:18px;
	font-style:italic;
}
.main-slider .normal-text{
	font-weight:400;
	line-height:1.8em;
	color:#2196F3;
	font-size:26px;
	font-style:italic;
	font-family: 'Hind Guntur', sans-serif;
}
.slider-separeter-line{
	position:relative;
	margin-top:15px;
}

.slider-separeter-line .line-one{
	position:relative;
	height:1px;
	width:28px;
	left:9px;
	margin: auto;
	margin-bottom:1px;
	background-color:#e33a0c;
}

.slider-separeter-line .line-one:before{
	position:absolute;
	content:'';
	left:-9px;
	top:0px;
	height:1px;
	width:7px;
	background-color:#e33a0c;
}

.slider-separeter-line .line-one:after{
	position:absolute;
	content:'';
	right:-9px;
	top:0px;
	height:1px;
	width:7px;
	background-color:#e33a0c;
}

.slider-separeter-line .line-two{
	position:relative;
	height:1px;
	width:28px;
	left:9px;
	margin: auto;
	background-color:#e33a0c;
}

.slider-separeter-line .line-two:before{
	position:absolute;
	content:'';
	left:-9px;
	top:0px;
	height:1px;
	width:7px;
	background-color:#e33a0c;
}

.slider-separeter-line .line-two:after{
	position:absolute;
	content:'';
	right:-9px;
	top:0px;
	height:1px;
	width:7px;
	background-color:#e33a0c;
}


/*
================================================
  14. About Us Section 
================================================
*/
.about-section{

}

.about-content{
	
}

.counter-wrap{
	margin:50px 0px 20px 40px;
	text-align:center;
}

.work-counter {
    padding: 27px;
    border: 1px solid #d5d5d5;
    margin-bottom: 30px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
	position:relative;
}

.work-counter:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-top: 2px solid #2196F3;
    border-left: 2px solid #FF5722;
    top: -5px;
    left: -5px;
}

.work-counter:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-top: 2px solid #FF5722;
    border-right: 2px solid #2196F3;
    top: -5px;
    right: -5px;
}

.work-counter:hover .count-icon {
    transform: rotate(360deg);
}

.work-counter h3 {
    font-size: 27px;
    margin: 15px 9px;
    vertical-align: middle;
    margin-bottom: 0px;
    margin-top: 9px;
	text-transform:uppercase;
}
.work-counter p {
    color: #363636;
    font-size: 15px;
    margin-top: 7px;
    padding: 0px;
	text-transform:uppercase;
}

.count-icon {
    font-size:46px;
    margin-top:0px;
    color: #c5c1c1;
    transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    background-color: transparent;
    border-radius: 5px;
    line-height: 35px;
    text-align: center;
}

.about-tagline{
	margin:10px 0px 40px 0px;
	text-align:center;
}

.about-tagline p{
	font-size: 38px;
    line-height: 50px;
    color:rgb(246, 58, 35);
    font-weight: 600;
}

.about-tagline p span{
	font-size:20px;
	text-shadow:none;
    color: #3e3c3c;
 }
 
 
 /*
================================================
  15. Why choose us Section 
================================================
*/
 
.why-choose-us {
    padding: 0px 0;
    background: url(/images/activities-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 30px;
    border-top: #f3f3f3 solid 4px;
    border-bottom: #f3f3f3 solid 4px;
}

.why-us-leftside {
    margin-top: 140px;
    padding: 0px 30px;
}

.why-us-right{
}

.why-us-right .block-1{
	position:relative;
	
}
.why-us-right .block-1:last-child{
	margin-bottom:40px;
	position:relative;
}

.why-us-right .block-1:before{
	position: absolute;
    content: '';
    top: 0px;
    left: -30px;
    border:rgba(234,91,31,1) solid 3px;
    height: 50px;

}

.why-us-right .block-1:last-child:after{
    position: absolute;
    content: '';
    bottom: -40px;
    left: -30px;
    border: #ea5b1f solid 3px;
    height: 40px;
}

.why-us-right .icon-1{
	margin-left:-66px;
	display:inline-block;
	position:relative;
	 border: #89c500 solid 4px;
	 border-radius:100%;
	 padding:5px;
	 background:#f7f8f9;
	 margin-top: 40px;
}
.why-us-right .icon-1 i{
	color: #fff;
    background: #89c500;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
	z-index:999;
}
.why-us-right .block-info{
	display:inline-block;
	margin:30px 0px 0px 20px;
}

.why-us-right .block-info h1{
	Color:#fff;
	font-size:20px;
	line-height:25px;
	margin:0px;
	text-transform:capitalize;
}

.why-us-right .block-info p{
	Color:#fff;
	font-size:20px;
	line-height:25px;
	margin:0px;
}
.why-us-right .block-info p{
  font-size:14px;
      color: #ececec;
	      line-height: 35px;
}
.why-us-right .color-1 .icon-1{
	border:rgba(234,91,31,1) solid 4px;
} 

.why-us-right .color-1 i{
	 background:rgba(234,91,31,1);
}
.why-us-right .color-1 h1{
	Color:#ea5b1f;
}
.why-us-right .color-2{
	
}
.why-us-right .color-2 .icon-1{
	border: #337ab7 solid 4px;
} 
.why-us-right .color-2:before{
	 border: #337ab7 solid 3px;
}
.why-us-right .color-2 i{
	 background: #337ab7;
}
.why-us-right .color-2 h1{
	Color: #60a5e0;
}
.why-us-right .color-3{
}
.why-us-right .color-3 .icon-1{
	border:#e33a0c solid 4px;
} 
.why-us-right .color-3:before{
	 border: #e33a0c solid 3px;
}
.why-us-right .color-3 i{
	 background:#e33a0c;
}
.why-us-right .color-3 h1{
	Color:#e33a0c;
}
.why-us-right .color-4{	
}
.why-us-right .color-4 .icon-1{
	border: #50a2e8 solid 4px;
} 
.why-us-right .color-4:before{
	 border: #50a2e8 solid 3px;
}
.why-us-right .color-4 i{
	 background:#50a2e8;
}
.why-us-right .color-4 h1{
	Color:#88c0f1;
}

 
 /*
================================================
  16. Services - Style#1
================================================
*/
.services-style1{}

.our-services{
	margin:80px 0px 40px 0px;
}

.service-box{
	margin-bottom: 53px;
    text-align: center;
}

.service-box .icon {
    position: relative;
	margin-bottom:10px;
	padding-bottom:15px;
}

.service-box .icon:before{
   content: " ";
    position: absolute;
    left: 40%;
    bottom: 0;
    width: 70px;
    height: 3px;
    background-color:#337ab7;
}

.service-box .title h3 {
    margin-bottom: 12px;
	font-weight:500;
}

.service-box .service-info p{
	font-size:14px;
}


.service-detail{
	margin:20px 0px 40px 0px;
}

.service-detail figure{
	margin-bottom:20px;
}



 /*
================================================
  17. Testimonial
================================================
*/



.testimonial-wrap{
    background-image:url(/images/slider/testimonial-bg.jpg);
    background-position: center center;
    background-size: cover;
    padding: 75px 0;
    position: relative;
    z-index: 1;
	color:#fff;
}

.parallax {
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.testimonial-wrap .single-testimonial {
    padding: 0 50px;
    position: relative;
}

.testimonial-wrap .single-testimonial .quot {
       font-size: 50px;
    color: rgb(246, 58, 35);
    line-height: 1;
}

.testimonial-wrap .single-testimonial  .comment {
   font-size: 23px;
    line-height: 35px;
    color: #fff;
    font-style: italic;
    margin-bottom: 40px;
}

.testimonial-wrap .single-testimonial  .name {
    font-size: 22px;
    line-height: 1.36;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
}

.testimonial-wrap .single-testimonial .job {
    font-size: 22px;
    line-height: 1.875;
    color: rgba(234,91,31,1);
    margin: 0;
}
.customNavigation{
   margin-top:50px;
   margin-left:10px;
}
.customNavigation a{
     background:#f63a23;
    color: #fff;
    padding: 10px 20px 5px 20px;
    margin-right: 25px;
    cursor: pointer;
	 border: #fff double 4px;
}
.customNavigation a:hover{
	opacity:0.6;
}

.customNavigation a i{
	font-size:16px;
}

 /*
================================================
  18. Blog
================================================
*/

.blog-wrap{
}

.blog-box{
	margin-bottom:50px;
}

.blog-image {
    overflow: hidden;
}

.blog-image img {
    -moz-transition: all .8s linear;
    -ms-transition: all .8s linear;
    -o-transition: all .8s linear;
    -webkit-transition: all .8s linear;
    transition: all .8s linear;
    width: 100%;
}

.blog-image img {
    position: relative;
}

.blog-image:hover img{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}
.border_radius {
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.blog-box .news_box{
  background: #fff;
  margin: -50px auto 0;
  padding: 20px 15px;
  padding-bottom:0;
  position: relative;
  width: 92%;
  z-index: 1;
  border: #2196f3 solid 2px;
}
.blog-box .news_box h4{
	font-size: 15px;
    font-weight: 400;
	    margin: 0px;
}
.blog-box .news_box .commment li{
	margin-bottom:10px;
	margin-top:5px;
	 display: inline-block;
	margin-left:10px;
}

.blog-box .news_box .commment li:first-child{
	margin-left:0;
}
.blog-box .news_box .commment li a{
	display:block;
	color:#454545;
	font-size:14px;
}
.blog-box .news_box .commment li a > i{
  font-size: 18px;
  margin-right: 8px;
  vertical-align: middle;
  color:#ff5722;
}
.blog-box .news_box p{
	font-size:14px;
	line-height:20px!important;
	margin-bottom:10px;
}

.blog-box a.readmore {
  padding-top:30px;	
  color:#333;
  font-weight:600;
}
.blog-box a:hover.readmore {
	color:#337ab7;
}

.blog-details{
	margin:30px 0px;
}

.blog-post-header{
    display: block;
    margin-bottom: 45px;
    overflow: hidden;
	border-bottom:#ecebeb solid 1px;
}
.blog-post-header h3{
	font-size: 19px;
    color:#2196f3;
}


.blog-post-header ul.blog-post-meta {
    display: inline-block;
    margin: 0px;
}

.blog-post-header ul.blog-post-meta li {
    font-size: 15px;
    font-weight: 400;
    color: rgb(136, 136, 136);
    float: left;
    display: inline-block;
    position: relative;
    padding: 0px 0px;
	margin-right:20px;
}

.blog-post-header ul.blog-post-meta li i{
	margin-right:5px;
	font-size:15px;
	color:rgba(234,91,31,1);
}
.blog-post-image{
	display:block;
}

.blog-post-image img{
	width:100%;
}

.blog-post-text{
	margin:20px 0px;
}

.blog-post-text p{
	text-align:justify;
}

.blog-sidebar{
	margin:20px 0px;
}

.widget{
	margin-bottom:40px;
}

.widget h2{
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
	position:relative;
	padding-bottom:10px;
}

.widget h2:before {
    content: "";
    width: 55px;
    height: 3px;
    display: inline-block;
    position: absolute;
    bottom: 0;
	background-color:rgba(234,91,31,1);
}

.widget ul{
	margin:20px 0px 0px 0px;
	padding:0px;
}

.widget li{
	border-bottom:1px solid #e6e2e2;
	margin: 5px 0px;
	margin-bottom: 25px;
    padding-bottom: 5px;

}
.widget li a {
    font-size: 15px;
    line-height: 20px;
    color: #333;
   
    display: block;
    transition: .4s;
}

.widget li a:hover {
    color: rgba(234,91,31,1);
}
.widget li .post-date{
	    display: block;
    padding-left: 0px;
    margin-top: 5px;
    font-size: 14px;
    color: #b9c1cf;
    position: relative;
}
.widget li .post-date i{
	margin-right:5px;
 }
 .categories-post{
}
.tag{
	margin: 20px 0px;
}

.tag .label {
    display: inline;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin: 10px 5px 10px 0px;
}

.tag .label-info {
    background-color: #a0d498;
}

 /*
================================================
  19. Get In Touch
================================================
*/

.get-in-touch{
	margin:50px 0px;
	background:#333;
	background:url(../images/bg-3.jpg) fixed no-repeat;
}

.white-bg{
	background:#fff;
	margin:-40px 40px -40px 40px;
	background: #f3f3f3;
    padding: 20px;
    border:2px solid #337ab7;
    box-shadow: 0 0 0 10px #ffffff, 0 0 5px 10px #dedede;
    -webkit-box-shadow: 0 0 0 10px #ffffff, 0 0 5px 10px #dedede;
    -moz-box-shadow: 0 0 0 10px #ffffff,0 0 5px 10px #dedede;
    -ms-box-shadow: 0 0 0 10px #ffffff,0 0 5px 10px #dedede;
    -o-box-shadow: 0 0 0 10px #ffffff,0 0 5px 10px #dedede;
	
}

 /*
================================================
  20. Our Partner
================================================
*/

.our-partner{
    padding: 30px 0px 0px 0px;
}


.partner-logo{
	 border: rgb(236, 236, 236) solid 1px;
    padding: 20px;
    margin: 0px 10px;
	text-align:center;
}

.partner-logo img{
	text-align:center;
	border:#fff solid 1px;
}

.ourpartner-wrap .owl-theme .owl-controls .owl-page span {
    display: block;
    width: 19px;
    height: 10px;
    margin: 45px 7px 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
    border-radius: 5px;
    background: rgba(227,58,12,1)!important;
}

 /*
================================================
  21. Footer
================================================
*/
footer{
	
}
.ftrbtm-link {
    background:#212832;
    padding: 10px 0px;
}

.footer-social h3 {
    color: #fff;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
	
}

.footer-social ul li {
    display: inline-block;
    margin-top: 10px;
}

.footer-social ul li a {
    display: block;
    width: 32px;
    height: 32px;
    border: 1px solid #9c9c9c;
    border-radius: 50%;
    margin-right: 6px;
    color: #a9a9a9;
}
.footer-social ul li a i {
   
    margin-top: 7px;
    margin-left: 9px;
}
.footer-social ul li a:hover {
    border: 1px solid #4b79b8;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #2798f3;
    border-color: #2798f3;
    color: #FFF;
}

.legal-links li {
    display: inline-block;
    list-style: none;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 10px;
	 position:relative;
	 padding-right:20px;
	 cursor: pointer;
}
.legal-links li:after {
	 position:absolute;
	 content:'/';
	 right:0;
	 top:0;
	 color:#fff;
}
.legal-links li:last-child:after {
 display:none;
 }

.legal-links h3 {
    color: #fff;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

.legal-links ul {
    margin: 0px;
    padding: 0px;
}
.legal-links li {
    display: inline-block;
    list-style: none;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 10px;
}
.legal-links li a {
    color: #a9a9a9;
}
.legal-links li a:hover {
	color:#2798f3;
}

.footer-bottom {
        background: #1c222a;
    padding: 17px 0;
}

.footer-bottom .copyright{
    width: 100%;
	text-align:center;
    color: #a9a9a9;
}

 /*
================================================
  22. Internal Banner / Breadcrumb
================================================
*/

.internal-banner {
	padding:85px 0px 40px;
	background: #3a3333;
	text-align: center;
	color: #fff;
	margin-top: -50px;
	margin-bottom: 40px;
}


.int-banner-img {
	background:url(../images/slider/banner-1.jpg) no-repeat;
	background-size: cover;
}

.internal-banner h2 {
	font-size: 41px;
    color: #e8e8e8;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    display: inline-block;
    border: rgb(255, 251, 250) double 4px;
    padding: 10px;
    line-height: 45px;
}

.breadcrumb {
    background-color: transparent;
}

.breadcrumb ul li {
    font-size: 13px;
}

.breadcrumb li a {
    color: #fff!important;
}

.breadcrumb > .active {
    color: #c7c7c7;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "|";
}

 /*
================================================
  23. Our Team
================================================
*/


.our-team{
	margin:40px 0px;
}
.team-box{
	margin-top: 10px;
	box-shadow: 0px 0px 10px #eaeaea;
}
.team-box .team-inner {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.team-content{
	background: rgb(247, 247, 247) none repeat scroll 0% 0%;
	display: block;
	float: left;
	width: 100%;
	padding-bottom: 15px;
}
.team-box .team-inner img {
    width: 100%;
    display: block;
    border-bottom: 1px solid #e9e9e9;
}
.team-box .team-inner .mask {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    opacity: 0;
    background: rgba(11, 11, 11, 0.8);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.team-box .team-inner ul {
    list-style: none;
    position: absolute;
    z-index: 3;
    top: -30px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    left: 0;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.team-box .team-inner ul li {
    display: inline-block;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
}
.team-box .team-inner ul li a {
    font-family: 'FontAwesome';
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
    display: inline-block;
    color: #f2f2f2;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.team-box:hover .mask {
  opacity: 1;
}
.team-box h6 {
    margin-top: 30px;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: #333333;
	    margin-bottom: 5px;
}
.team-box:hover ul {
  top: 50%;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.team-box .subtext {
    text-align: center;
    color: #337ab7;
    font-size: 15px;
    line-height: 26px;
}
.team-box .team-inner ul li a:hover {
  background-color: #f2f2f2;
  color: #008ed6;
}


 /*
================================================
  24. Our Gallery
================================================
*/

.gallery{
	position:relative;
	padding: 90px 0px 100px;
}

.gallery-item{
	position:relative;
	padding: 0px 2.5px;
	margin-bottom: 5px;
}

.gallery-item .inner-box{
	position:relative;
	width:100%;
	overflow:hidden;
}
.gallery-item .border-box{
	position:absolute;
	left: 25px;
	top: 25px;
	right: 25px;
	bottom: 25px;
	vertical-align:middle;
	border: 2px solid #ededed;
}

.gallery-item .image-box{
	position:relative;
	display: block;
}

.gallery-item .image-box img{
	position:relative;
	display:block;
	width:100%;
}

.gallery-item .overlay-box{
	position:absolute;
	left:0px;
	top:-100%;
	width:100%;
	height:100%;
	text-align:center;
	color:#ffffff;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transform:scaleY(0);
	-ms-transform:scaleY(0);
	-o-transform:scaleY(0);
	-moz-transform:scaleY(0);
	transform:scaleY(0);
}

.gallery-item .inner-box:hover .overlay-box{
	top:0px;
	-webkit-transform:scaleY(1);
	-ms-transform:scaleY(1);
	-o-transform:scaleY(1);
	-moz-transform:scaleY(1);
	transform:scaleY(1);	
}

.gallery-item .overlay-inner{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	display:table;
	vertical-align:middle;
	padding:10px 30px;
	background: rgba(234, 91, 31, 0.83);
}

.gallery-item .overlay-inner .content{
	position:relative;
	display:table-cell;
	vertical-align:middle;
}

.gallery-item .overlay-inner h3{
	font-size:18px;
	color:#ffffff;
	font-weight:600;
	letter-spacing: 1.8px;
	margin-bottom: 20px;
	text-transform:capitalize;
	font-family: 'Mukta Vaani', sans-serif;
}

.gallery-item .overlay-inner h3 a{
	color:#ffffff;	
}

.gallery-item .overlay-inner h3 a:hover{
	color:#f1f1f1;
}

.gallery-item .link-btn li{
	position: relative;
	display: inline-block;
	margin: 5px;
}

.gallery-item .link-btn li i{
	position: relative;
	color:rgba(234,91,31,1);
	background:#ffffff;
	width: 50px;
	height: 50px;
	text-align:center;
	line-height: 52px;
	border-radius: 50%;
	transition:all 500ms ease;
}

.gallery-item .link-btn{
	position:absolute;
	left: -120px;
	bottom:50px;
}

.gallery-item:hover .link-btn{
	text-align: center;
	left: 40%;
	top: 55%;
	transition:all 500ms ease;
	-webkit-transition: all 500ms ease 500ms;
	-ms-transition: all 500ms ease 500ms;
	-o-transition: all 500ms ease 500ms;
	-moz-transition: all 500ms ease 500ms;
}

 /*
================================================
  25. Contact Us
================================================
*/

.contact-us{
	padding:40px 0px 0px 0px;
}

.contact-us h4{
	margin-top: 20px;
	font-size: 20px;
	border-bottom: #f7f7f7 solid 3px;
	padding: 10px 0px;
	text-transform: uppercase;
	color: #656565;
	padding:20px 0px 20px 0px;
}

.blue-block {
	background: #337ab7;
	padding: 15px;
	border-radius: 0 50px 0 50px;
	margin-right: 40px;
}

.blue-block form label{
	color:#fff;
}

.blue-block form .submit-btn{
	border: #fff solid 1px !important;
	margin-bottom: 10px;
	text-align: center!important;
	background: transparent;
	display:block;
	color:#fff!important;
}

.blue-block form .submit-btn:hover{
	background:#C30;
}

.contact-info{

}
.contact-info h2{
	font-size: 20px;
	color: #333;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 0px;
}
.contact-info h2 i{
	
}

.contact-info strong{
	font-size:18px;
	font-weight:600;
	margin-bottom:10px;	
}

.contact-address p{
	margin-bottom:20px;
	font-size:16px;
}

.contact-address,
.contact-phone,
.contact-email {
	font-size: 15px;
	margin-bottom: 10px;
	padding-left: 60px;
	position: relative;
	margin-top:30px;
}

.contact-phone{
	font-size:17px;
}

.contact-phone a,
.contact-email a {
	color:#09C;
	text-decoration: none;
	font-size:17px;
}

.contact-phone a:hover,
.contact-email a:hover {
	color: #e43146;
}

.contact-address i,
.contact-phone i,
.contact-email i {
	font-size: 32px;
	position: absolute;
	left: -10px;
	top: 1px;
	width: 50px;
	text-align: center;
	font-size: 28px;
	color: rgba(227,58,12,1);
	margin-right: 20px;
	margin-top: -3px;
	width: 50px;
	background: #f9f9f9;
	padding: 10px 0px;
}

.contact-phone i {
	font-size: 40px;
	top: 0;
}

.contact-email i {
	font-size: 26px;
}

.social-media {
	padding-left: 10px;
	margin-bottom: 50px;
	margin-top:60px;
}

.social-media ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.social-media ul li {
	display: inline-block;
	margin-right: 20px;
}

.social-media ul li a {
	display: block;
	font-size: 22px;
	text-align: center;
	width: 40px;
	height: 40px;
	line-height: 38px;
	color: #fff;
	background: #77c157;
	border: 1px solid #fff;
	box-shadow: 0 0 0 2px #77c157;
	-webkit-box-shadow: 0 0 0 2px #77c157;
	-moz-box-shadow: 0 0 0 2px #77c157;
	-ms-box-shadow: 0 0 0 2px #77c157;
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-ms-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.social-media ul li a:hover {
	background: #3192c9;
	border-color: #fff;
}

.map{
	margin-top:30px;
}
.blue-block form .submit-btn {
	border: #fff solid 1px;
	margin-bottom: 10px;
	text-align: center!important;
	background: transparent;
	display: block;
	font-size: 20px;
}


/*
================================================
  26. Responsive 
================================================
*/



@media (min-width: 1025px) {
}
@media(max-width: 1024px) {    
}
@media(max-width: 768px) {
	.logo{
		text-align:center;
	}
	.header {
	    width: 100%;
	    z-index: 99;
	    background: #2196f3;
	}
	.main_nav{
		margin:0;
		padding:0px;
		width:100%;
	}

	.main_nav div> ul{
		display: none;
	}
		
	.main_nav>div>ul>li{
		display: block;
		border-top: 1px solid #fbf9f6;
	}

	.main_nav>div>ul>li:after{
		display: table;
		content: '';
		clear: both;
	}

	.main_nav>div>ul>li>a{
		color: #484747;
		text-align: left;
		float: left;
		padding: 0;
		padding: 10px;
	}

	.main_nav div ul li span{
		display: block;
		float: right;
		color: rgba(234,91,31,1);
		cursor: pointer;
		padding: 10px;
	}

	.main_nav div ul li:hover .dropdown{
		display: none;
	}
	.main_nav div ul li .dropdown{
		position: relative;
	    clear: both;
	    background-color: #f9f9f9;
	    padding: 10px 0px;
	    margin: 0px 0px 0px 0px;
	    box-shadow: none;
	}

	.main_nav button{
		display: block;
		background: #2196f3;
		border: none;
		padding: 10px;
		width: 100%;
		color: #fff;
		font-size: 18px;
		cursor: pointer;
		margin-bottom:10px;
	}

	.main_nav button:focus{
		outline: none;
	}

	.main_nav button span{
		float: left;
	}

	.main_nav button i{
		float: right;
	}

	/*.dropdown li ul.dropdown{
		display: none!important;
		z-index: 999999;
	}*/
	/*.main_nav div ul li:hover .dropdown{
		display: none;
	}*/

	.dropdown li:hover ul.dropdown {
	    display: block;
	    position: relative;
	    left: 0!important; 
	    top: 100% !important;
	    min-width: 200px;
	    z-index: 9999;
	    background: #f1f1f1!important;
	    border: none!important;
	}
	.dropdown li a {
	 display:inline-block;
	}
	.dropdown li ul.dropdown:before {
	    display:none;
	}
	
	.main-slider{
		width: 100%;
	    position: relative;
	    margin-top: -22px;
	    background: #333;
	}
}



@media (max-width: 640px) {
}
@media (max-width: 480px) {
	.top-head {
	    display:none;
	}
	.counter-wrap {
	     margin: 50px 10px 20px 10px;
	}
	.about-tagline {
	    margin: 10px 5px 40px 5px;
	}
	.why-choose-us {
	    background: url(../images/activities-bg.jpg) no-repeat fixed;
	    background-size: cover;
	    background-position: 100% 50%;
	}
	.why-us {
	    margin-top: 140px;
	    padding: 0px 10px;
	}

	.heading-left h2 {
	    color: #e2e1e1;
	}

	.why-us-leftside p.lead {
	    color: #dcdada;
	}
	.why-choose-us .icon-1 {
	    margin-left: 15px;
	}

	.why-choose-us .block-info p {
	    line-height: 25px;
	}
	.white-bg{
		background:#fff;
		margin:-40px 10px -40px 10px;
		background: #f3f3f3;
	    padding: 20px;
		
	}
	.internal-banner h2 {
	    margin-right: 30px;
	    margin-left: 30px;
		font-size: 25px;
	}
	.gallery-item .image-box {
	    margin-bottom: 20px;
	}

	.gallery {
	    padding: 20px 0px 100px;
	}
	.blue-block {
	    margin-right: 0px;
	}
}






/*
=================================================================
			TOP HEADER
=================================================================
*/

#dt-topHeader{
	background-color: #2196f3
}






/*

.main_nav div{
	margin-right: 10px;
}
.main_nav_updated{
	margin-top: 0px !important;
}

.main_nav>div>ul{
	margin: 0;
	padding: 0;
}

.main_nav>div>ul>li{
	list-style: none;
	display: inline-block;
	position: relative;
}

.main_nav ul li span{
	display: none;
}
.main_nav>div>ul>li>a{
	padding: 30px 20px;
	text-align: center;
	display: block;
	transition: all 0.3s ease;
	font-size: 14px;
	text-decoration: none;
	color: #626365;
	font-weight: 600;
	text-transform: uppercase;
}

.main_nav>div>ul>li:hover>a, .main_nav>div>ul>li.active>a{
	color:#2196f3;
	text-decoration: none;
}

.main_nav ul li:hover .dropdown{
-webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1,1);
  display: block;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}

.dropdown{
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	min-width: 200px;
	z-index: 9999;
	background:#fff;
	margin: 0;
	padding: 0px 0px;
	-webkit-box-shadow: 0px 8px 15px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 8px 15px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 15px 1px rgba(0, 0, 0, 0.1);
	border-top: #2196f3 solid 3px; 
}

.dropdown:before{
	top:-21px;
	left:20%;
	color:#2196f3;
	position:absolute; 
	content:'\f0d8';
	font-family:FontAwesome;
}

.dropdown li{
	list-style: none;
	text-align: left;
}

.dropdown li a{
	line-height: normal;
	padding:15px 15px;
	display: block;
	transition: all 0.3s ease;
	color: #626365;
	font-weight: 400;
	text-decoration:none;
}

.dropdown li a:hover{
	background: #2196f3;
	text-decoration: none;
	color: #fff;
}

.main_nav button {
  display: none;
}
*/
