/*
* Globals
*/

@media (min-width: 48em) {
	html {
			font-size: 18px;
	}
}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #555;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #333;
}


/*
* Override Bootstrap's default container.
*/

.container .footer {
	max-width: 60rem;
	/*background: url(/tree-in-black-and-white.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}


/*
* Masthead for nav
*/

.blog-masthead {
	margin-bottom: 3rem;
	background-color: #428bca;
	height: 50px;
	-webkit-box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
	box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
}


/* Nav links */

.nav-link {
	position: relative;
	padding: 1rem;
	font-weight: 500;
	color: #cdddeb;
}

.nav-link:hover,.nav-link:focus {
	color: #fff;
	background-color: transparent;
}

.footer	{
	max-width: 65rem;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: auto;
	margin-left: auto;
}

/* Active state gets a caret at the bottom */

.nav-link.active {
	color: #fff;
}

.nav-link.active:after {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -.3rem;
	vertical-align: middle;
	content: "";
	border-right: .3rem solid transparent;
	border-bottom: .3rem solid;
	border-left: .3rem solid transparent;
}

.row {
margin: 0px !important;
}

/*
* Blog name and description
*/

.blog-header {
	padding-bottom: 1.25rem;
	margin-bottom: 2rem;
	border-bottom: .05rem solid #eee;
}

.blog-title {
	margin-bottom: 0;
	font-size: 2rem;
	font-weight: normal;
}

.blog-description {
	font-size: 1.1rem;
	color: #999;
}

@media (min-width: 40em) {
	.blog-title {
			font-size: 3.5rem;
	}
}


/*
* Main column and sidebar layout
*/


/* Sidebar modules for boxing content */

.sidebar-module {
	padding: 0.5rem;
	margin: 0.2rem;
}

.sidebar-module-inset {
	padding: 1rem;
	background-color: #f5f5f5;
	border-radius: .25rem;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
	margin-bottom: 0;
}


/* Pagination */

.pager {
	margin-bottom: 4rem;
	text-align: left;
}

.pager > li > a {
	width: 8rem;
	padding: .75rem 1.25rem;
	text-align: center;
	border-radius: 2rem;
}


/*
* Blog posts
*/

.blog-post {
	margin-bottom: 4rem;
}

.blog-post-title {
	margin-bottom: .25rem;
	font-size: 2.5rem;
}

.blog-post-meta {
	margin-bottom: 1.25rem;
	color: #999;
}


/*
* Footer
*/

.blog-footer {
	padding: 0.5rem 0;
	color: #999;
	/*text-align: center;*/
	background-color: #f9f9f9;
	border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
	margin-bottom: 0;
}

.blog-sidebar {
	border-radius: 9px;
	border: #999 solid 1px;
}

.tag .label {
	margin: 0 2px;
}


nav.nav.blog-nav div {
	padding: 12px 0;
}

nav.nav.blog-nav ul {
  list-style: outside none none;
  padding-left: 0;
}

nav.nav.blog-nav ul li {
	display: inline-block;
	padding: 0 3px
}

nav.nav.blog-nav ul li a {
  color: white;
  font-size: 1.3em;
  font-style: unset;
  text-transform: uppercase;
  cursor: pointer;
}


h1.page-header {margin-top: -5px;}
.main-container { background: #FFF;padding-top: 15px;margin-top: -20px;}
.footer {width: 100%;}
:focus {outline: none;}
.side-menu {position: relative;width: 100%;	height: 100%;background-color: #f8f8f8;border-right: 1px solid #e7e7e7;}
.side-menu .navbar {border: none;}
.side-menu .navbar-header {width: 100%;border-bottom: 1px solid #e7e7e7;}
.side-menu .navbar-nav .active a {background-color: transparent;margin-right: -1px;}
.side-menu .navbar-nav li {display: block;width: 100%;/*border-bottom: 1px solid #e7e7e7;*/}
.side-menu .navbar-nav li a {padding: 10px 15px 10px 20px;}
.side-menu .navbar-nav li a .glyphicon {padding-right: 10px;}
.side-menu #dropdown {border: 0;margin-bottom: 0;border-radius: 0;background-color: transparent;box-shadow: none;}
.side-menu #dropdown .caret {float: right;margin: 9px 5px 0;}
.side-menu #dropdown .indicator {float: right;}
.side-menu #dropdown > a {border-bottom: 1px solid #e7e7e7;}
.side-menu #dropdown .panel-body {padding: 0;background-color: #f3f3f3;}
.side-menu #dropdown .panel-body .navbar-nav {width: 100%;}
.side-menu #dropdown .panel-body .navbar-nav li {padding-left: 15px;border-bottom: 1px solid #e7e7e7;}
.side-menu #dropdown .panel-body .navbar-nav li:last-child {border-bottom: none;}
.side-menu #dropdown .panel-body .panel > a {margin-left: -20px;padding-left: 35px;}
.side-menu #dropdown .panel-body .panel-body {margin-left: -15px;}
.side-menu #dropdown .panel-body .panel-body li {padding-left: 30px;}
.side-menu #dropdown .panel-body .panel-body li:last-child {border-bottom: 1px solid #e7e7e7;}
.side-menu #search-trigger {background-color: #f3f3f3;border: 0;border-radius: 0;position: absolute;top: 0;right: 0;padding: 15px 18px;}
.side-menu .brand-name-wrapper {min-height: 50px;}
.side-menu .brand-name-wrapper .navbar-brand {display: block;}
.side-menu #search {position: relative;z-index: 1000;}
.side-menu #search .panel-body {padding: 0;}
.side-menu #search .panel-body .navbar-form {padding: 0;padding-right:50px;width: 100%;margin: 0;position: relative;border-top: 1px solid #e7e7e7;}
.side-menu #search .panel-body .navbar-form .form-group {width: 100%;position: relative;}
.side-menu #search .panel-body .navbar-form input {border: 0;border-radius: 0;box-shadow: none;width: 100%;height: 50px;}
.side-menu #search .panel-body .navbar-form .btn {position: absolute;right: 0;top: 0;border: 0;border-radius: 0;background-color: #f3f3f3;padding: 15px 18px;}
/* Main body section */
.side-body {margin-left: 310px;}
.container-fluid { padding:0px;}
.navbar { border:none;}
#bs-example-navbar-collapse-1 { background-color: #142849; margin: 0px!important; height: 64px!important;  width: 100%;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a{color: #fff;background-color: #259dab;background-image: -webkit-linear-gradient(left, #259dab 0%, #2574ab 100%); background-image: -o-linear-gradient(left, #259dab 0%, #2574ab 100%);background-image: linear-gradient(to right, #259dab 0%, #2574ab 100%); background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff259dab', endColorstr='#ff2574ab', GradientType=1);}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { color: #fff;  background-color: #2574ab; background-image: none; box-shadow:none; border:none;}
.navbar-brand { margin-left: 0px!important; color: #fff!important; padding-top: 20px; font-size: 24px;text-transform: uppercase;  font-style: italic;}
.nav .fa { background-color: #F1F1F1;  padding: 7px 8px 8px 8px;  border-radius: 30px; width: 30px; height: 30px;  color: #2574ab;border: solid 1px #e7e7e7; margin-right: 5px;}
.nav-tabs.nav-justified > li:last-child {border-right: none;}
.navbar-form { margin:15px -15px;}
.form-control {   text-shadow: none; border-radius: 4px;}
.form-control:focus{box-shadow:none;}
.navbar-left .btn-default {background-color: #2574ab;background-image: none; border: none;  margin-left: -4px!important; border-bottom-right-radius: 4px; border-top-right-radius: 4px;border-bottom-left-radius: 0px; border-top-left-radius: 0px;  height: 34px; text-shadow: none;color: #fff; box-shadow:none;}

/***** LEFTPANEL PROFILE *****/
.leftpanel-profile {padding: 15px;background-color: #2574ab;}
.leftpanel-profile .media-object { width: 48px; padding: 3px; border: 2px solid #165885; margin-left:5px;}
.leftpanel-profile .media-left { padding-right: 15px;}
.leftpanel-profile .media-heading {margin: 7px 0 2px;color: rgba(255, 255, 255, 0.9);font-weight: 500; letter-spacing: 1px;font-size: 14px;}
.leftpanel-profile .media-heading > a {color: rgba(255, 255, 255, 0.5);}
.leftpanel-profile .media-heading > a:hover,
.leftpanel-profile .media-heading > a:focus {cursor: pointer; color: rgba(255, 255, 255, 0.7);}
.leftpanel-profile .media-body {color: rgba(255, 255, 255, 0.5);}
.leftpanel-userinfo {background-color: #165885; padding-top: 10px; position: absolute; left: 0; right: 0; z-index: 100; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; color:#fff;}
.leftpanel-userinfo .sidebar-title {margin-top: 0;  padding-left:15px;}
.leftpanel-userinfo address {color: rgba(255, 255, 255, 0.9); padding: 0 15px; margin-bottom: 20px;}
.leftpanel-userinfo .list-group-item { border-left: 0; border-right: 0;border-color:#257495;background-color: transparent;color: rgba(255, 255, 255, 0.9);}
.leftpanel-userinfo .list-group-item:first-child { border-top-right-radius: 0;border-top-left-radius: 0;}
.leftpanel-userinfo .list-group-item:last-child {border-bottom-right-radius: 0; border-bottom-left-radius: 0;}
.leftpanel-userinfo .list-group-item label {margin: 0; color: rgba(255, 255, 255, 0.4);}
.leftpanel-userinfo .list-group-item:before,
.leftpanel-userinfo .list-group-item:after { content: " ";display: table;}
.leftpanel-userinfo .list-group-item:after {clear: both;}
.leftpanel-userinfo .list-group-item:before,
.leftpanel-userinfo .list-group-item:after {content: " "; display: table;}
.leftpanel-userinfo .list-group-item:after {clear: both;}
.leftpanel-userinfo .list-group-item .social-icons a {color: rgba(255, 255, 255, 0.7); margin-left: 5px;font-size: 14px; line-height: 0;}
.leftpanel-userinfo .list-group-item .social-icons a > i {line-height: 0;}
.leftpanel-userinfo .list-group-item .social-icons a:hover,
.leftpanel-userinfo .list-group-item .social-icons a:focus { color: #fff;}

.nav-sidebar.nav-justified {background-color: #657390;margin-bottom: 20px; border-top-right-radius: 0; border-top-left-radius: 0;}
.nav-tabs.nav-justified > li {float: left!important;width: 20%;border-right: solid 1px #c1c1c1;}
.nav-sidebar.nav-justified > li > a {border-radius: 0; background-color: #165885;color: #fff;padding: 8px 10px;font-size: 14px; vertical-align: bottom;}
.nav-sidebar.nav-justified > li > a:hover,
.nav-sidebar.nav-justified > li > a:focus {cursor: pointer;background-color: #464f63; border:none;}
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus { border:none;}
.nav-tabs > li > a { border:none;}
.nav-children {display: block;border-top: 0;border-bottom: 1px solid #eaecf0;}
.nav-children:before { border-top: 7px solid #2574ab; border-left: 7px solid transparent;border-right: 7px solid transparent;content: ""; display: inline-block; position: absolute; left: 25px;top:-2px;}
.nav-children {list-style: none; display: none; margin: 0; padding: 0; position: relative; border-top: 1px solid #eaecf0; background-color: #f6f7f8;}
.nav-children > li {margin-left: 31px; border-left: 1px solid #dbdfe6;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;text-transform: none; letter-spacing: normal; display: block;font-size: 12px;}
.nav-children > li:first-child { padding-top: 7px;}
.nav-children > li:last-child {padding-bottom: 7px;}
.nav-children > li > a {display: block;font-weight: 400;padding: 5px 0 5px 18px;color: #657390;position: relative;/*  height: 28px;*/ -webkit-transition: all 0.2s ease-out 0s; -o-transition: all 0.2s ease-out 0s; transition: all 0.2s ease-out 0s;}
.nav-children > li > a:before {content: '';position: absolute;width: 5px; height: 5px; left: -3px; top: 50%;background-color: #9fa8bc; margin-top: -3px; border-radius: 50px;-webkit-transition: all 0.2s ease-out 0s; -o-transition: all 0.2s ease-out 0s; transition: all 0.2s ease-out 0s;}
.nav-children > li > a:after {content: '';width: 30px;height: 30px; border: 1px solid #a0a8b9;position: absolute; left: -15px; top: 50%; margin-top: -15px; border-radius: 50px; opacity: 0; -webkit-transition: all 0.2s ease-out 0s;-o-transition: all 0.2s ease-out 0s; transition: all 0.2s ease-out 0s;}
.nav-children > li > a:hover,
.nav-children > li > a:focus,
.nav-children > li > a:active {text-decoration: none; color: #464f63;}

.nav-children > li > a:hover:before,
.nav-children > li > a:focus:before,
.nav-children > li > a:active:before {background-color: #657390;}

.nav-children > li > a:hover:after,
.nav-children > li > a:focus:after,
.nav-children > li > a:active:after {opacity: 1;border-color: #657390; width: 11px;height: 11px; left: -6px;margin-top: -6px;}
.nav-children > li.active > a {color: #259dab;}
.nav-children > li.active > a:before { background-color: #259dab;}
.nav-children > li.active > a:after {opacity: 1;  width: 11px; height: 11px; left: -6px; margin-top: -6px;}
.btn-logged img { vertical-align: middle; margin-right: 5px; width: 20px; border-radius: 50px;}
.btn-group .btn-logged { margin: 15px;background-image: none;background-color: inherit; color: #fff;}
.pull-right > .dropdown-menu { right: 13px; left: auto;}

.dropdown-menu {
  border-color: rgba(38, 43, 54, 0.1);
  border-top: 0;
  margin-top: 0;
  margin-right: -8px;
  padding:5px;
  background-color: #fff;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
 .dropdown-menu:after {
  border-bottom: 8px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  content: "";
  display: inline-block;
  right: 17px;
  position: absolute;
  top: -7px;
}
.dropdown-menu .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  margin: 0 0 5px;
  padding: 10px;
  letter-spacing: .5px;
}
.dropdown-menu > li > a {
  font-size: 13px;
  border-radius: 2px;
  padding:5px 10px;
  color:#2574ab;
}
 .dropdown-menu .list-group {
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: -5px;
}
.dropdown-menu .list-group > .list-group-item {
  border-left: 0;
  border-right: 0;
}
.dropdown-menu .list-group > .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.dropdown-menu .list-group > .list-group-item:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom: 0;
}

.btn-group > .btn-logged + .dropdown-menu > li > a:hover,
.btn-group > .btn-logged + .dropdown-menu > li > a:focus {
  background-color: #165885;
  color: #fff;
  background-image:none;
}

/* small screen */
@media (max-width: 768px) {
	.side-menu {
		position: relative;
		width: 100%;
		height: 0;
		border-right: 0;
	}

	.side-menu .navbar {
		z-index: 999;
		position: relative;
		height: 0;
		min-height: 0;
		background-color:none !important;
		border-color: none !important;
	}
	.side-menu .brand-name-wrapper .navbar-brand {
		display: inline-block;
	}
	/* Slide in animation */
	@-moz-keyframes slidein {
		0% {
			left: -300px;
		}
		100% {
			left: 10px;
		}
	}
	@-webkit-keyframes slidein {
		0% {
			left: -300px;
		}
		100% {
			left: 10px;
		}
	}
	@keyframes slidein {
		0% {
			left: -300px;
		}
		100% {
			left: 10px;
		}
	}
	@-moz-keyframes slideout {
		0% {
			left: 0;
		}
		100% {
			left: -300px;
		}
	}
	@-webkit-keyframes slideout {
		0% {
			left: 0;
		}
		100% {
			left: -300px;
		}
	}
	@keyframes slideout {
		0% {
			left: 0;
		}
		100% {
			left: -300px;
		}
	}
	/* Slide side menu*/
	/* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
	.side-menu-container > .navbar-nav.slide-in {
		-moz-animation: slidein 300ms forwards;
		-o-animation: slidein 300ms forwards;
		-webkit-animation: slidein 300ms forwards;
		animation: slidein 300ms forwards;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	.side-menu-container > .navbar-nav {
		/* Add position:absolute for scrollable menu -> see top comment */
		position: fixed;
		left: -300px;
		width: 300px;
		top: 43px;
		height: 100%;
		border-right: 1px solid #e7e7e7;
		background-color: #f8f8f8;
		overflow: auto;
		-moz-animation: slideout 300ms forwards;
		-o-animation: slideout 300ms forwards;
		-webkit-animation: slideout 300ms forwards;
		animation: slideout 300ms forwards;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	@-moz-keyframes bodyslidein {
		0% {
			left: 0;
		}
		100% {
			left: 300px;
		}
	}
	@-webkit-keyframes bodyslidein {
		0% {
			left: 0;
		}
		100% {
			left: 300px;
		}
	}
	@keyframes bodyslidein {
		0% {
			left: 0;
		}
		100% {
			left: 300px;
		}
	}
	@-moz-keyframes bodyslideout {
		0% {
			left: 300px;
		}
		100% {
			left: 0;
		}
	}
	@-webkit-keyframes bodyslideout {
		0% {
			left: 300px;
		}
		100% {
			left: 0;
		}
	}
	@keyframes bodyslideout {
		0% {
			left: 300px;
		}
		100% {
			left: 0;
		}
	}
	/* Slide side body*/
	.side-body {
		margin-left: 5px;
		margin-top: 70px;
		position: relative;
		-moz-animation: bodyslideout 300ms forwards;
		-o-animation: bodyslideout 300ms forwards;
		-webkit-animation: bodyslideout 300ms forwards;
		animation: bodyslideout 300ms forwards;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	.body-slide-in {
		-moz-animation: bodyslidein 300ms forwards;
		-o-animation: bodyslidein 300ms forwards;
		-webkit-animation: bodyslidein 300ms forwards;
		animation: bodyslidein 300ms forwards;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	/* Hamburger */
	.navbar-toggle-sidebar {
		border: 0;
		float: left;
		padding: 18px;
		margin: 0;
		border-radius: 0;
		background-color: #f3f3f3;
	}
	/* Search */
	#search .panel-body .navbar-form {
		border-bottom: 0;
	}
	#search .panel-body .navbar-form .form-group {
		margin: 0;
	}
	.side-menu .navbar-header {
		/* this is probably redundant */
		position: fixed;
		z-index: 3;
		background-color: #f8f8f8;
	}
	/* Dropdown tweek */
	#dropdown .panel-body .navbar-nav {
		margin: 0;
	}
}


/*.form-control{
  width: inherit !important;
}*/
.control-label {
    text-align: left !important;
}

.custom-span{
	padding-right:10px;
	font-size: 18px;

}

.btn-ico {
font-size:1.3em;
}

ul.nav-children li:focus, ul.nav-children li:hover, ul.nav-children li:active, 
ul.nav-children li a:focus, ul.nav-children li a:hover, ul.nav-children li a:active {
	text-decoration: none;
}

.nav-color{
	background-color:#142849;
	color:#fff;
}
.error{
	color: red;
}

ul.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content{
	overflow-y: scroll;
	height: 112px;
}

ul.listModules {
    list-style: outside none none;
    padding-left: 0;
}

ul.listModules > li {
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 0 0 2px gray;
    display: block;
    line-height: 1.5em;
    margin: 2px 0;
    padding: 5px;
}